<template>
  <div>
    <div class="navbarHistory">
      <div class="navbarHistoryCont">
        <a v-for="item of childHistoryName" :href="'#/'+item.redirect_path" :class="[{'is-active': (CurrentSection.indexOf(item.path) > -1)},'navbarHistoryChild']" >
          {{item.name}}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'GroupsHeaderNavigate',
    props: [ 'mainHistoryName', 'childHistoryName' ],
    data () {
      return {

      }
    },
    components: {

    },
    computed:{
      CurrentSection () {
        if(this.$route.path != "" && this.$route.path != undefined && this.$route.path.indexOf('/') > -1)
        {
          return this.$route.path.split('/');
        }
        return this.$route.path;
      },
    },

  }
</script>

<style scoped>

  .navbarHistory {
    background-color: #ffffff;
    border:none;
  }
  a.navbarHistoryChild.is-active {
    font-weight: 600;
  }
  .navbarHistoryCont {
    padding: 20px 25px 0px 25px;
  }
  a.navbarHistoryChild {
    margin-left: 0!important;
    margin-right: 40px!important;
  }

</style>
