<template>

  <!--<div>-->
    <!--<a @click="ChangeLanguage(row.locale, $event)" v-for="row in otherLanguages"-->
       <!--:key="row.locale">-->
      <!--{{row.title}}&nbsp;&nbsp;&nbsp;-->
    <!--</a>-->
  <!--</div>-->

</template>

<script>

  import * as types from '@/stores/modules/admin/types';

  export default {
    name: 'ChangeLanguageWidget',

    data () {
      return {
        isActive: false,
        languages: [
          { title: 'ENG', locale: 'en', src: require('@/assets/app-icon.png') },
          { title: 'RUS', locale: 'ru', src: require('@/assets/app-icon.png') },
        ],
        currentLang: 0,
      };
    },

    computed: {

      otherLanguages () {
        let newLanguages = this.languages.slice ();
        const index = this.GetCurrentLanguageIndex();
        newLanguages.splice (index, 1);

        return newLanguages;

      },

    },

    created(){

      let loc = this.$i18n.locale ();
      let locale = this.$cookie.get('lang');

      if(locale != undefined && locale != null && locale != "")
      {
        this.ChangeLanguage(locale);
      }

    },

    methods: {
      GetCurrentLanguageIndex(){
        let loc = this.$i18n.locale ();
        return this.languages.findIndex(lang => lang.locale == loc);
      },

      ChangeLanguage ( locale , event) {

        if (event) event.preventDefault();

        var aYearFromNow = new Date();
        aYearFromNow.setFullYear(aYearFromNow.getFullYear() + 1);

        this.$cookie.set ('lang', locale, {
          expires: aYearFromNow.toGMTString (),
          domain: document.domain
        });

        this.$i18n.set (locale);

      },

    },
  }

</script>


<style>

</style>
