<template>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <div class="auth_box">
          <div class="auth_box_header">
            <p>Set up two-factor authentication</p>
          </div>
          <div class="auth_box_first">
            <p>1. Open Google Authenticator and scan QR-code</p>
            <div class="auth_box_logos">
              <div class="auth_box_logos_box" style="width: 38%;margin: 0">
                <img :src="require('@/assets/app-icon.png')" alt="">
                <p>Google Authenticator</p>
              </div>
              <div class="auth_box_logos_box">
                <img :src="require('@/assets/google-play-button.png')" alt="">
              </div>
              <div class="auth_box_logos_box">
                <img :src="require('@/assets/google-play-button.png')" alt="">
              </div>
            </div>
            <div class="auth_box_logos_line"/>
          </div>
          <div class="auth_box_second">
            <div class="auth_box_second_left"/>
            <div class="auth_box_second_right">
              <div class="auth_box_second_right_top">
                <p>2. Enter the code from Google Authenticator</p>
              </div>
              <div class="auth_box_second_right_middle">
                <div class="form-group">
                  <label for="code" class="cols-sm-2 control-label">CODE</label>
                  <div class="cols-sm-10">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"/></span>
                      <input id="code" type="password" class="form-control" name="code" placeholder="*******">
                    </div>
                  </div>
                </div>
              </div>
              <div class="auth_box_second_right_btn">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">CHECK CODE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthTwoFactor',

  data () {
    return {}
  }
}
</script>

<style scoped>
.container {
  background-color: #303634;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.auth_box {
  text-align: left;
  background-color: #ffffff;
  padding: 25px 25px;
  width: 45%;
  margin: 0 auto;
  border-radius: 5px;
}
.auth_box_header p {
  color: #303634;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}
.auth_box_first p {
  color: #303634;
  font-size: 16px;
  line-height: 24px;
}
.auth_box_logos_box {
  float: left;
  width: 29%;
  margin-left: 5px;
  margin-top: 5px;
}
.auth_box_logos {
  overflow: hidden;
}
.auth_box_logos_box p {
  display: inline-block;
  width: 50%;
  color: #303634;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
.auth_box_logos_box img {
  max-width: 100%;
}
.auth_box_logos_line {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  margin-top: 25px;
}
.auth_box_second_right_btn button {
  padding: 15px 0;
  background-color: #ffce06;
  border: none;
  color: #070707;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}
.auth_box_second {
  overflow: hidden;
  margin-top: 35px;
}
.auth_box_second_left {
  width: 45%;
  height: 200px;
  float: left;
  border: 1px dashed goldenrod;
}
.auth_box_second_right {
  float: right;
  width: 45%;
  margin-right: 5px;
}
.auth_box_second_right p {
  color: #303634;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.form-group label {
  color: #303634;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
</style>
