<template>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <div class="logo_box">
          <img :src="require('@/assets/logo-color.png')" alt="">
        </div>
        <div class="card-block logo mx-auto">
          <form @submit.prevent="validateBeforeSubmit">
            <div class="errorNotif" v-show="isShowNotification">
              {{error}}
            </div>
            <div class="form-group">
              <label for="login" class="cols-sm-2 control-label">{{ 'Email' | translate }}</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"/></span>
                  <input id="login" :disabled="isProcessing" type="text"
                         v-validate="'required'" name="email" data-vv-as="Login" placeholder="Your Login" v-model="email"
                         :class="{'input': true, 'errorClass': errors.has('email') }">
                  <span v-show="errors.has('email')" class="help text-danger">{{ errors.first('email') }}</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">PASSWORD</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"/></span>
                  <input id="password" :disabled="isProcessing" type="password" class="form-control"
                         name="password" v-model="password" data-vv-as="Password" @keyup.enter="OnFormEnter"  placeholder="*******"
                         v-validate="'required'"
                         :class="{'input': true, 'errorClass': errors.has('password') }">
                  <span v-show="errors.has('password')" class="help text-danger">{{ errors.first('password') }}</span>
                </div>
              </div>
            </div>
            <div class="remember_me_checkbox">
              <label class="checkbox-container">
                <span class="remText">Remember me</span>
                <input type="checkbox" v-model="remember">
                <span class="checkmark"/>
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import * as types from '@/stores/modules/admin/types';
  import * as mutation_types from '@/stores/modules/admin/mutation_types';
export default {
  name: 'SignIn',
  data () {
    return {
      storeMutationSubscriber: null,
      email: '',
      password: '',
      remember: true,
      isProcessing: false,
      error: '',
      showNotification: false,
      isShowNotification: false,
      isWant2FACode: false
    }
  },

  mounted () {

    this.storeMutationSubscriber =
      this.$store.subscribe (( mutation, state ) => {
        switch ( mutation.type ) {
          case "admin/" + mutation_types.M_LOGIN_SUCCESS:

            this.isProcessing = true;
            this.email = "";
            this.password = "";
            this.$cookie.set ('token', state.admin.token);
            this.$cookie.set ('user', JSON.stringify(state.admin.user));
            this.$router.push ('/settings/ips');
            this.isProcessing = false;
            break;

          case "admin/" + mutation_types.M_LOGIN_ASK_TOTP:

            this.isProcessing = true;
            this.email = "";
            this.password = "";
            this.$cookie.set ('token', state.admin.token);
            this.$cookie.set ('user', JSON.stringify(state.admin.user));
            this.$router.push ('/auth-two-factor');
            this.isProcessing = false;
            break;

          case "admin/" + mutation_types.M_LOGIN_FAIL:

            this.isProcessing = true;
            const status = mutation.payload.error.status;
            switch(status)
            {
              case 500:
                this.error = 'Something went wrong';
                break;
              case 503:
                this.isWant2FACode = true;
                return;
              case 403:
                this.error = 'Wrong Google Authentication code';
                break;
              case 400:
                this.error = "Error";
                break;
              case 401:
                // Enabled 2FA
                // if(parseInt(mutation.payload.error.data.code) == 2202)
                // {
                //   this.isWant2FACode = true;
                //   return;
                // }
                this.error = 'Something went wrong';
                break;
              default:
                this.error ='Something went wrong';
                break;
            }
            this.isProcessing = false;
            this.isShowNotification = true;
            setTimeout (() => this.isShowNotification = false, 5000);

            break;
        }

      });
  },

  beforeDestroy () {
    if ( this.storeMutationSubscriber != null ) {
      this.storeMutationSubscriber ();
      this.storeMutationSubscriber = null;
    }
  },

  methods: {
    OnFormEnter: function () {
      this.SignIn ();
    },
    SignIn: function () {
      this.isProcessing = true;
      this.$store.dispatch ("admin/" + types.A_LOGIN, {
        email: this.email,
        password: this.password,
        remember: this.remember
      })
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.SignIn();
          return;
        }
        return
      });
    }
  }
}
</script>

<style scoped>
.container {
  background-color: #303634;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.logo_box {
  width: 32%;
  color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.logo-first {
  color: #ffce06;
  font-size: 27px;
  font-style: italic;
  font-weight: 900;
  line-height: 33px;
}
.logo-second {
  color: #ffffff;
  font-size: 27px;
  /*font-style: italic;*/
  font-weight: 900;
  padding-left: 10px;
  line-height: 33px;
}
.logo-line {
  width: 30%;
  background-color: #ffffff;
  display: inline-block;
  height: 3px;
  margin-right: 4px;
  vertical-align: middle;
}
.logo-name {
  color: #ffffff;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  line-height: 15px;
}
.logo {
  background-color: #ffffff;
  padding: 40px 55px;
  width: 32%;
  margin: 0 auto;
  border-radius: 5px;
}
.form-group {
  text-align: left;
}
.form-group label {
  color: #303634;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.form-group input {
  height: 48px;
  width: 100%;
  border: 2px solid #d9d9d9;
  border-radius: 8px !important;
  outline: none;
  background-color: #fbfbfb;
}
.form-group input:focus {
  outline: none;
  box-shadow: none;
}
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 35px;
  margin: 0;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 30%;
  height: 18px;
  width: 18px;
  background-color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #ffce06;
  border-radius: 3px;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid #303634;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-container span.remText {
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  display: block;
  position: absolute;
  top: 5px;
  left: 39%;
}
form button {
  padding: 15px 0;
  background-color: #ffce06;
  border: none;
  color: #070707;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}
.form-group input {
  padding: 12px;
}
.form-group {
  margin-bottom: 5px;
}
.form-group input.errorClass {
  border: none;
  border-bottom: 2px solid red;
  border-radius: 0!important;
}
  .errorNotif{
    color: red;
    font-size: 13px;
    margin-bottom: 15px;
  }
</style>
