<template>
  <div>
    <button @click="showModal" class="addModalIp">ADD IP ADDRESS</button>
    <b-modal ref="myModalRef" centered :modal-class="myclass"
             hide-footer title="Using Component Methods">
      <form @submit.prevent="validateBeforeSubmit">
        <div class="form-group">
          <select class="form-control">
            <option>My Ip</option>
            <option>2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="ipModal">IP</label>
          <input type="text" class="form-control" v-validate="'required|ipaddress'" name="ipaddress" id="ipModal" v-model="ipAddress" placeholder="34.250.89.120"
          :class="{'input': true, 'errorClass': errors.has('ipaddress') }">
          <span v-show="errors.has('ipaddress')" class="help text-danger">{{ errors.first('ipaddress') }}</span>
        </div>
        <div class="form-group">
          <label for="descriptionModal">DESCRIPTION</label>
          <input type="text" class="form-control" v-validate="'required'" id="descriptionModal" name="description" v-model="description" placeholder="Comments"
                 :class="{'input': true, 'errorClass': errors.has('description') }">
          <span v-show="errors.has('description')" class="help text-danger">{{ errors.first('description') }}</span>
        </div>

      </form>
      <b-btn class="mt-3" block @click="validateBeforeSubmit">SAVE ADDRESS</b-btn>
    </b-modal>
  </div>
</template>

<script>
  import { Modal } from 'bootstrap-vue/es/components';
  import * as types from '@/stores/modules/trustedIps/types';

  export default {
    name: 'ModalAddress',
    data() {
      return {
        myclass: ['modalCustomClass'],
        ipAddress:'',
        description: ''
      }
    },
    components: {
      Modal
    },
    methods: {
      showModal () {
        this.$refs.myModalRef.show()
      },
      hideModal () {
        this.$refs.myModalRef.hide()
      },
      addNewIpAddress() {
        let ips = this.$store.state.ips['ips'];
        this.$store.dispatch ("ips/" + types.ADD_NEW_IP, {
          source: this.ipAddress,
          description: this.description,
        });
      },
      validateBeforeSubmit() {
        this.$validator.validateAll().then((result) => {
          if (result) {
            this.addNewIpAddress()
            return;
          }
          return
        });
      }
    }
  }

</script>

<style>
  .modal-header  .close{
    position: absolute!important;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    top: -25%!important;
    left: 45%!important;
    font-weight: 100;
    outline: none;
  }
  .modalCustomClass .modal-dialog-centered{
    max-width: 380px;
  }
  .modalCustomClass .modal-content{
    border-radius: 10px;
  }
  .form-group input {
    outline: none;
  }
  .form-group input.errorClass {
    border: none;
    border-bottom: 2px solid red;
    border-radius: 0!important;
  }
  .form-group input:focus {
    outline: none;
    box-shadow: none;
  }
  .modalCustomClass .modal-body button{
    border: none;
    background-color: #FFCE06;
    border-radius: 5px;
    padding: 13px 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }

</style>
