<template>
  <div>
    <Header></Header>
    <HeaderNavigate :mainHistoryName="'Settings'" :childHistoryName="childHistoryName"></HeaderNavigate>
    <router-view></router-view>
  </div>
</template>

<script>
  import ModalAddress from './Modal';
  import Header from '../../ui/Header';
  import HeaderNavigate from '../../ui/Header.navigate';
  export default {
    name: 'Settings',
    data () {
      return {
        mainHistoryName: this.$router.history.current.matched[0].name,
        childHistoryName: [
          {
            name:"Trusted Ip's",
            path: 'ips'
          },
        ],
      }
    },
    components: {
      ModalAddress,Header,HeaderNavigate
    },

  }
</script>

<style>

</style>
