<template>
  <div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12">
          <div class="ipsTable">
            <div class="tableSearchBox">
              <div class="tableSearch">
                <input type="text" v-model="search" placeholder="Search..."/>
              </div>
              <div class="tableSearchBtn">
                <ModalAddress></ModalAddress>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" @click="sort('source', $event)">Source</th>
                <th scope="col" @click="sort('description', $event)">Description</th>
                <th scope="col" class="tableAction" style="padding-right: 20px">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item of tableData">
                <td scope="row">{{item.source}}</td>
                <td>{{item.description}}</td>
                <td class="tableAction">
                  <a href="" class="editAction">Edit</a>
                  <a href="" class="deleteAction">Delete</a>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="showCountTable">
              <span class="showCountTableText">Show</span>
              <div class="form-group showCountTableSelect">
                <select class="form-control" v-model="show">
                  <option>10</option>
                  <option>15</option>
                  <option>25</option>
                  <option>50</option>
                </select>
              </div>
              <span class="showCountTableText">per page</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ModalAddress from './Modal';
  import * as types from '@/stores/modules/admin/types';
  import * as mutation_types from '@/stores/modules/admin/mutation_types';
  export default {
    name: 'TrustedIps',
    data () {
      return {
        sort_by_field: "source",
        sort_type: "asc",
        isCollapsed: true,
        show: 25,
        search:'',
        myclass: ['modalCustomClass']
      }
    },
    components: {
      ModalAddress
    },

    computed: {
      ips() {
        return this.$store.state.ips['ips']
      },
      filteredList() {

      },
      tableData() {

        let showCount = parseInt(this.show) || 10;
        let res;

        let Sort = (a, b) => {
          if (a[this.sort_by_field] > b[this.sort_by_field]) {
            return 1;
          }
          if (a[this.sort_by_field] < b[this.sort_by_field]) {
            return -1;
          }

          return 0;
        };

        let sorted = (this.sort_type == "asc") ? this.ips.sort(Sort) : this.ips.sort(Sort).reverse();

        if(this.isCollapsed){
          res = sorted.slice(0, showCount);
        } else {
          res = sorted;
        }
        return res.filter(item => {
          return item.source.toString().includes(this.search.toString())
        })
      }
    },

    methods: {
      sort(id, event){
        if (event) event.preventDefault();

        if(this.sort_by_field == id){
          if(this.sort_type == "asc"){
            this.sort_type = "desc";
          }
          else{
            this.sort_type = "asc";
          }
        } else {
          if(id == 'name') {
            this.sort_type = "asc";
          } else {
            this.sort_type = "desc";
          }
          this.sort_by_field = id;
        }
      },
    }
  }
</script>

<style>
  a.editAction{
    font-size: 15px;
    line-height: 18px;
    color: #20815E;
  }
  a.deleteAction{
    color: #D26370;
    font-size: 15px;
    line-height: 18px;
  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFFBEB;
  }
  .showCountTableSelect {
    display: inline-block;
    margin: 0 10px;
  }
  .showCountTable {
    text-align: right;
  }
  .tableAction {
    text-align: right;
  }
  table tr th {
    text-align: left;
    color: #303634;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  table tr td{
    text-align: left;
    color: #3C3C3C;
    font-size: 15px;
    line-height: 18px;
  }
  .ipsTable {
    margin: 30px 0;
  }
  .tableSearch {
    margin-bottom: 30px;
    text-align: left;
  }
  .tableSearch input{
    border: none;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 5px;
    background: url('../../../assets/search-icon.svg') no-repeat scroll 7px 6px;
    padding-left: 30px;
    outline: none;
    background-size: 7%;
  }
  .showCountTableText {
    color: #303634;
    font-size: 16px;
    line-height: 19px;
  }
  .tableSearchBox {
    overflow: hidden;
  }
  .tableSearch {
    float: left;
  }
  .tableSearchBtn {
    float: right;
  }
  .tableSearchBtn button.addModalIp{
    border: none;
    background-color: #FFCE06;
    border-radius: 5px;
    padding: 13px 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  table > thead > tr > th{
    border-bottom: 2px solid #FFCE06!important;
  }

</style>
