<template>

  <div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12">
          <div class="ipsTable">
            <div class="tableSearchBox">
              <div class="tableSearch">
                <input type="text" v-model="search" placeholder="Search..."/>
              </div>
              <div class="tableSelects">
                <div class="form-group">
                  <label for="groupSearch">Group</label>
                  <select class="form-control" id="groupSearch">
                    <option>All</option>
                    <option>Default select</option>
                    <option>Default select</option>
                    <option>Default select</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="countrySearch">Country</label>
                  <select class="form-control" id="countrySearch">
                    <option>Russia</option>
                    <option>Armenia</option>
                    <option>USA</option>
                    <option>Italy</option>
                  </select>
                </div>
                <div class="form-group" style="margin-right: 0">
                  <button>
                    <i class="fas fa-sync"></i>
                    Refresh
                  </button>
                </div>
              </div>
            </div>
            <div class="tableExportBox">
              <div class="tableExportBoxLeft">
                <a href="" class="active-affilate">
                  <span class="active-affilate-circle"></span>
                  <span>Active</span>
                </a>
                <a href="" class="blocked-affilate">
                  <span class="blocked-affilate-circle"></span>
                  <span>Blocked</span>
                </a>
              </div>
              <div class="tableExportBoxRight">




                <span>Export</span>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button @click="exportType = 'XLS'" type="button" :class="[(exportType == 'XLS') ? 'btn-export-active' : '','btn btn-exportTable']">XLS</button>
                  <button @click="exportType = 'PDF'" type="button" :class="[(exportType == 'PDF') ? 'btn-export-active' : '','btn btn-exportTable']">PDF</button>
                </div>
                <div class="form-group" style="margin-right: 0" v-if="exportType == 'XLS'">
                  <download-excel
                    :data="json_data"
                    :fields="json_fields"
                    name="affilates.xls">
                    <button >
                      <i class="far fa-arrow-alt-circle-down"></i>
                      Export
                    </button>
                  </download-excel>
                </div>
                <div class="form-group" style="margin-right: 0" v-else>
                  <button @click="exportFile('asdas')">
                    <i class="far fa-arrow-alt-circle-down"></i>
                    Export
                  </button>
                </div>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col" @click="sort('email', $event)">Email</th>
                <th scope="col" @click="sort('group', $event)">Group</th>
                <th scope="col" @click="sort('country', $event)" >Country</th>
                <th scope="col" @click="sort('earning', $event)" >30 Days Earning</th>
                <th scope="col" @click="sort('registration', $event)" >Registration Date</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item of tableData" :class="[(item.active == 1) ? 'table-inactive' : '']">
                <td scope="row">
                  <span :class="[(item.active == 1) ? 'blocked-affilate-circle' : 'active-affilate-circle']"></span>
                  {{item.email}}
                </td>
                <td>{{item.group}}</td>
                <td>{{item.country}}</td>
                <td>{{item.earning}}</td>
                <td>{{item.registration}}</td>
              </tr>
              </tbody>
            </table>
            <div class="showCountTable">
              <div class="perpageshow">
                <span class="showCountTableText">Show</span>
                <div class="form-group showCountTableSelect">
                  <select class="form-control" v-model="show" @click="clickShowBtn()">
                    <option>2</option>
                    <option>10</option>
                    <option>15</option>
                    <option>25</option>
                    <option>50</option>
                  </select>
                </div>
                <span class="showCountTableText">per page</span>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination" v-if="show <= getTokenTotalCount">
                  <li class="page-item" v-show="isAvailableLeft"  @click="PreviousPage($event, ((show*(currentPage-1))-show),(show*(currentPage-1)))">
                    <a class="page-link" href="#">
                      <i class="fas fa-chevron-left"></i>
                    </a>
                  </li>
                  <li v-for="n in totalPages" :key="'pager_'+n" class="page-item">
                    <a class="page-link" @click="SelectPage(n, $event, ((show*n)-show),(show*n))" :class="{'pagination-link' : true, 'is-current': currentPage == n}" :aria-label="'Goto page'+n">
                      {{ n }}
                    </a>
                  </li>
                  <li class="page-item" v-show="isAvailableRight"  @click="NextPage($event, ((show*(currentPage+1))-show),(show*(currentPage+1)))">
                    <a class="page-link" href="#">
                      <i class="fas fa-chevron-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
              <!--<Paginator ref="childComponent" :current="currentPage" :countByPage="countByPage" :total="getTokenTotalCount" :onSelectPage="OnPagerChange"></Paginator>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import Vue from 'vue'
  import JsonExcel from 'vue-json-excel';
  Vue.component('downloadExcel', JsonExcel);


  export default {
    name: 'AffilatesList',
    data () {
      return {
        currentPage: 1,
        countByPage: 10,
        sort_by_field: "email",
        sort_type: "asc",
        isCollapsed: true,
        show: 10,
        search:'',
        groupSearch: '',
        affilates: [],
        sliceCountPagination: 0,
        showCountPagination: 0,
        isPaginateStatus: false,
        exportType: 'XLS',
        json_fields : {
          'Email' : "email",
          'Group' : "group",
          'Country' : "country",
          '30 Days Earning' : "earning",
          'Registration Date' : "registration",
        },
        json_meta: [
          [
            {
              'key': 'charset',
              'value': 'utf-8'
            }
          ]
        ],
        json_data: [],
      }
    },
    components: {
      JsonExcel
    },

    computed: {
      getTokenTotalCount(){
        return this.$store.getters["affilatesList/getTokenTotalCount"](this.search);
      },
      affilates_list() {
        return this.$store.state.affilatesList['affilates_lists']
      },
      filteredList() {

      },
      tableData() {
        let showCount = parseInt(this.show) || 10;
        let paginCount = parseInt(this.sliceCountPagination) || 0;
        let paginShowCount = parseInt(this.showCountPagination) || 10;
        let res;

        let Sort = (a, b) => {
          if (a[this.sort_by_field] > b[this.sort_by_field]) {
            return 1;
          }
          if (a[this.sort_by_field] < b[this.sort_by_field]) {
            return -1;
          }

          return 0;
        };

        let sorted = (this.sort_type == "asc") ? this.affilates_list.sort(Sort) : this.affilates_list.sort(Sort).reverse();

        sorted = sorted.filter(item => {
          return item.email.toString().includes(this.search.toString())
        });
        if(this.search != '') {
          this.isPaginateStatus = false
        };
        if(this.isPaginateStatus == true) {
          res = sorted.slice(paginCount, paginShowCount);
        } else {
          res = sorted.slice(0, showCount);
        }

        this.json_data = this.affilates_list;
        return res

      },

      //PAGINATION

      isAvailableLeft(){

        if(this.totalPages == 0)
          return false;

        if(this.currentPage  == 1)
        {
          return false;
        }

        return true;
      },

      isAvailableRight()
      {
        if(this.totalPages == 0)
          return false;

        if(this.currentPage  == this.totalPages)
        {
          return false;
        }

        return true;
      },

      totalPages(){
        let pages = Math.ceil(this.getTokenTotalCount / this.show);
        return pages;
      },


    },

    methods: {
      clickShowBtn() {
        this.isPaginateStatus = false
      },
      OnPagerChange( page )
      {
        if(this.openedSubRow != ""){
          this.openedSubRow = "";
        }

        this.currentPage = page;
      },
      sort(id, event){
        console.log(id)
        if (event) event.preventDefault();
        if(this.sort_by_field == id){
          if(this.sort_type == "asc"){
            this.sort_type = "desc";
          }
          else{
            this.sort_type = "asc";
          }
        } else {
          if(id == 'name') {
            this.sort_type = "asc";
          } else {
            this.sort_type = "desc";
          }
          this.sort_by_field = id;
        }
      },




      //PAGINATION

      PreviousPage(event, slice, show){

        if (event) event.preventDefault();

        if(this.currentPage - 1 < 1)
        {
          return;
        }
        this.isPaginateStatus = true;
        this.showCountPagination = show;
        this.sliceCountPagination = slice;
        this.currentPage--;

        if(this.onSelectPage != undefined) this.onSelectPage(this.currentPage);
      },

      NextPage(event, slice, show)
      {
        if (event) event.preventDefault();

        if(this.currentPage + 1 > this.total)
        {
          return;
        }
        this.isPaginateStatus = true;

        this.showCountPagination = show;
        this.sliceCountPagination = slice;
        this.currentPage++;
        if(this.onSelectPage != undefined) this.onSelectPage(this.currentPage);
      },

      SelectPage(page, event, slice, show)
      {
        if (event) event.preventDefault();
        this.isPaginateStatus = true;
        this.showCountPagination = show;
        this.sliceCountPagination = slice;
        this.currentPage = page;
        if(this.onSelectPage != undefined) this.onSelectPage(this.currentPage);
      },

      CalculatePositions(){
        let result = { start: 0, finish: this.countByPage - 1 };
        result.start = this.currentPage * this.countByPage - this.countByPage;
      },

    }

  }

</script>

<style scoped>

  a.editAction{
    font-size: 15px;
    line-height: 18px;
    color: #20815E;
  }
  a.deleteAction{
    color: #D26370;
    font-size: 15px;
    line-height: 18px;
  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFFBEB;
  }
  .table-hover tbody tr.table-inactive:hover td, .table-hover tbody tr.table-inactive:hover th {
    background-color: #ffffff;
  }
  .showCountTableSelect {
    display: inline-block;
    margin: 0 10px;
  }
  .showCountTable {
    text-align: right;
  }
  .tableAction {
    text-align: right;
  }
  table tbody tr {
    cursor: pointer;
  }
  .table-inactive td {
    color: #7D7D7D;
    cursor: auto;
  }
  table tr th {
    text-align: left;
    color: #303634;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
  table tr td{
    text-align: left;
    color: #3C3C3C;
    font-size: 15px;
    line-height: 18px;
  }
  .ipsTable {
    margin: 20px 0;
  }
  .tableSearch {
    margin-bottom: 30px;
    text-align: left;
    padding-top: 20px;
  }
  .tableSearch input{
    border: none;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 5px;
    background: url('../../../assets/search-icon.svg') no-repeat scroll 7px 6px;
    padding-left: 30px;
    outline: none;
    background-size: 7%;
  }
  .showCountTableText {
    color: #303634;
    font-size: 16px;
    line-height: 19px;
  }
  .tableSearchBox {
    overflow: hidden;
  }
  .tableSearch {
    float: left;
  }
  .tableSearchBtn {
    float: right;
  }
  .tableSearchBtn button.addModalIp{
    border: none;
    background-color: #FFCE06;
    border-radius: 5px;
    padding: 13px 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  table > thead > tr > th{
    border-bottom: 2px solid #FFCE06!important;
  }
  .tableSelects {
    float: right;
  }
  .tableSelects .form-group {
    display: inline-block;
    text-align: left;
    margin-right: 25px;
  }
  .tableSelects .form-group label{
    margin: 0;
    color: #303634;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
  }
  .tableSelects .form-group select {
    height: auto;
    padding: 5px 40px 5px 5px;
  }
  .tableSelects .form-group button {
    padding: 6px 30px 3px;
    cursor: pointer;
    border: 1px solid #FFCE06;
    border-radius: 5px;
    background: transparent;
    font-size: 14px;
  }
  .tableSelects .form-group button i{
    font-size: 14px;
  }
  .tableExportBoxLeft {
    float: left;
  }
  .tableExportBoxRight {
    display: flex;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
  }
  .btn-exportTable.btn-export-active {
    background-color: #FFCE06;
  }
  .btn-exportTable:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  a.blocked-affilate{
    margin-left: 10px;
  }
  a.active-affilate,  a.blocked-affilate{
    color: #3C3C3C;
    font-family: Roboto;
    font-size: 12px;
    text-decoration: underline dotted;
    margin-bottom: 6px;
    line-height: 14px;
  }
  .active-affilate-circle {
    width: 8px;
    height:  8px;
    background-color: #5CB000;
    display: inline-block;
    border-radius: 20px;
    margin-right: 3px;
  }
  .blocked-affilate-circle {
    width: 8px;
    height: 8px;
    background-color: #D26370;
    margin-right: 3px;
    display: inline-block;
    border-radius: 20px;
  }
  .tableExportBox {
    padding: 25px 0;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
  }
  .ipsTable table thead tr th {
    border: none;
  }
  .btn-exportTable {
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    color: #303634;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    padding: 8px 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .tableExportBoxRight span{
    color: #303634;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    display: inline-block;
    margin-right: 12px;
  }
  .btn-group > .btn:not(:first-child) {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .tableExportBoxRight .form-group button {
    padding: 6px 30px 3px;
    cursor: pointer;
    border: 1px solid #FFCE06;
    border-radius: 5px;
    background: transparent;
    font-size: 14px;
  }
  .tableExportBoxRight .form-group {
    margin-left: 12px;
    margin-bottom: 0;
  }
  .tableExportBoxRight .form-group button i[data-v-587a3994] {
    font-size: 13px;
    margin-right: 3px;
  }
  .showCountTable {
    display: flex;
    justify-content: flex-end;
  }
  .page-link:not(:disabled):not(.disabled) {
    color: #7D7D7D;
  }
  .showCountTable nav .page-link.is-current {
    color: #FFCE06;
  }
</style>
