<template>

  <div>
    <Header></Header>
    <HeaderNavigate :mainHistoryName="'Affilates'" :childHistoryName="childHistoryName"></HeaderNavigate>
    <router-view></router-view>
  </div>

</template>

<script>
  import Header from '../../ui/Header';
  import HeaderNavigate from '../../ui/Header.navigate';

  export default {
    name: 'Affilates',
    data () {
      return {
        mainHistoryName: this.$router.history.current.matched[0].name,
        childHistoryName: [
          {
            name:'Affilate List',
            path: 'list',
            redirect_path: 'affilates/list'
          },
          {
            name:'Affilate Review',
            path: 'review',
            redirect_path: 'affilates/review'
          },
          {
            name:'Affilate Requests',
            path: 'requests',
            redirect_path: 'affilates/requests'
          },
          {
            name:'Groups',
            path: 'groups',
            redirect_path: 'affilates/groups'
          },
        ],

      }
    },
    watch: {
      a() {
        console.log(this.$router.history.current.matched[1].parent.path)
      }
    },
    computed:{
      CurrentSection () {
        if(this.$route.path != "" && this.$route.path != undefined && this.$route.path.indexOf('/') > -1)
        {
          return this.$route.path.split('/');
        }
        return this.$route.path;
      },
    },
    components: {
      Header,
      HeaderNavigate
    },

  }

</script>

<style scoped>



</style>
