<template>

  <div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-sm-12">
          Reviews
        </div>
      </div>
    </div>
  </div>

</template>

<script>

  export default {
    name: 'AffilatesReview',
    data () {
      return {

      }
    },
    components: {

    },

  }

</script>

<style scoped>



</style>
