<template>

  <div>
    <div class="container h-100 navbarHistoryCont">
      <div class="row h-100">
        <div class="col-sm-12">
          <div class="groups">
            <div class="groups_header">
              <div class="groups_history_links">
                <a class="groups_history_links_from">
                  Affilate List
                </a>
                <span class="groups_history_links_arrow"><i class="fas fa-chevron-right"></i></span>
                <span class="groups_history_links_to">
                  gaegiazaryan@gmail.com
                </span>
              </div>
              <div class="groups_header_email">
                <h3>gaegiazaryan@gmail.com</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="groups_nav">
      <div class="container h-100 navbarHistoryContChild" style="padding-right: 0">
        <div class="groups_nav_left">
          <GroupsHeaderNavigate :mainHistoryName="'Affilates'"
                                :childHistoryName="childHistoryName"></GroupsHeaderNavigate>
        </div>
        <div class="groups_nav_right">
          <div class="form-group block" >
            <button>
              <img :src="require('@/assets/delete-icon.svg')" alt="">
              Block Affilate
            </button>
          </div>
          <div class="form-group login">
            <button>
              <img :src="require('@/assets/login-icon.svg')" alt="">
              Log In
            </button>
          </div>
          <div class="form-group reset">
            <button>
              <img :src="require('@/assets/password-icon.svg')" alt="">
              Reset Password
            </button>
          </div>
          <div class="form-group editInfo">
            <button>
              <i class="fas fa-sync"></i>
              EDIT
            </button>
          </div>
        </div>
      </div>
    </div>
    <router-view></router-view>
  </div>

</template>

<script>
  import GroupsHeaderNavigate from './ui/Groups.header.nav';

  export default {
    name: 'AffilatesReview',
    data () {
      return {
        affilateEmail: '',
        childHistoryName: [
          {
            name:'Information',
            path: 'info',
            redirect_path: 'affilates/groups/info'
          },
          {
            name:'Sub Affilates',
            path: 'sub',
            redirect_path: 'affilates/groups/sub'
          },
          {
            name:'Offers',
            path: 'offers',
            redirect_path: 'affilates/groups/offers'
          },
          {
            name:'Bonuses',
            path: 'bonuses',
            redirect_path: 'affilates/groups/bonuses'
          },
        ],
      }
    },
    components: {
      GroupsHeaderNavigate
    },
    computed: {

    }

  }

</script>

<style scoped>
  .navbarHistoryCont{
    text-align: left;
    padding: 20px 25px 0px 25px;
  }
  .navbarHistoryCont .groups_history_links span {
    display: inline-block;
    margin-left: 10px;
  }
  .groups_history_links{
    display: flex;
    justify-content: start;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
  }
  .groups_history_links_arrow i{
    font-size: 11px;
    line-height: 19px;
    text-align: center;
  }
  a.groups_history_links_from{
    color: #20815E;
    font-size: 16px;
    line-height: 19px;
  }
  .groups_history_links_to{
    color: #303634;
    font-size: 16px;
    font-weight: bold;
  }
  .groups_header_email {
    margin: 25px 0;
    color: #303634;
    font-size: 28px;
    line-height: 33px;
  }
  .groups_nav {
    border-bottom: 1px solid #EAEAEA;

  }
  .navbarHistoryContChild {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
  }
  .groups_nav_right .form-group{
    float: left;
    margin-left: 20px;
  }
  .groups_nav_right .form-group.block button{
    cursor: pointer;
    background: none;
    border: 1px solid #D26370;
    border-radius: 5px;
    color: #D26370;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 7px 15px;
  }
  .groups_nav_right .form-group.reset button, .groups_nav_right .form-group.login button{
    cursor: pointer;
    background: none;
    border: 1px solid #FFCE06;
    border-radius: 5px;
    padding: 7px 15px;
    color: #303634;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
  }
  .groups_nav_right .form-group.editInfo button{
    cursor: pointer;
    border-radius: 8px;
    background-color: #FFCE06;
    box-shadow: 0 2px 8px 0 rgba(4,24,63,0.26);color: #303634;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    border: none;
    padding: 15px 55px;
  }
  .groups_nav_right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
  }

</style>
