<template>

  <div>

    <div class="group_info container h-100 ">
      <div class="group_info_left">
        <div class="group_info_left_balance">
          <div class="group_info_left_balance_hot">
            <p>$2583</p>
            <span>BALANCE</span>
          </div>
          <div class="group_info_left_hold_balance">
            <p>$247</p>
            <span>HOLD BALANCE</span>
          </div>
        </div>
        <div class="group_info_left_payment">
          <div class="group_info_left_payment_method">
            <p>PAYMENT METHOD</p>
            <span>WebMoney</span>
          </div>
          <div class="group_info_left_payment_wallet">
            <p>WALLET NUMBER</p>
            <span>WMZ8828171</span>
          </div>
          <div class="group_info_left_payment_period">
            <p>PAYMENT PERIOD</p>
            <span>Manual</span>
          </div>
        </div>
        <div class="group_info_left_login">
          <div class="group_info_left_login_last">
            <p>LAST LOGIN</p>
            <span>28.12.2016 21:22</span>
          </div>
          <div class="group_info_left_login_last">
            <p>REGISTRATION DATE</p>
            <span>24.12.2016 20:45</span>
          </div>
        </div>
        <div class="group_info_left_history">
          <div class="group_info_left_history_header">
            <span>History</span>
            <a href="">
              <img :src="require('@/assets/history-icon.svg')" alt="">
            </a>
          </div>
          <div class="group_info_left_history_box">
            <p class="history_box_date">24.12.2016 20:53</p>
            <p class="history_box_text">Added offer BetWinner</p>
          </div>
          <div class="group_info_left_history_full">
            <a href="">
              Full History <i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="group_info_right">
      </div>
    </div>

  </div>

</template>

<script>

  export default {
    name: "GroupsInfo",
    data() {
      return {

      }
    },
    components: {

    },
    computed: {

    },
    methods: {

    }
  }

</script>

<style scoped>

.group_info {
  margin-top: 30px;
  text-align: left;
}
.group_info_left {
  padding-left: 10px;
  width: 25%;
}
.group_info_left_balance, .group_info_left_payment{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #b1b1b1;
}
.group_info_left_balance_hot{
  margin-bottom: 18px;
}
.group_info_left_balance_hot p, .group_info_left_hold_balance p {
  color: #20815E;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 0;
}
.group_info_left_balance_hot span, .group_info_left_hold_balance span, .group_info_left_payment_method p {
  color: #303634;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}
.group_info_left_payment_method p, .group_info_left_payment_wallet p, .group_info_left_payment_period p, .group_info_left_login_last p {
  color: #303634;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 0;
}
.group_info_left_payment_method span, .group_info_left_payment_wallet span, .group_info_left_payment_period span, .group_info_left_login_last span {
  color: #303634;
  font-size: 14px;
  line-height: 16px;
}
.group_info_left_payment_method, .group_info_left_payment_wallet, .group_info_left_login_last {
  margin-bottom: 18px;
}
.group_info_left_history {
  padding: 15px;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
}
.group_info_left_history_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.group_info_left_history_header span{
  color: #303634;
  font-size: 20px;
  line-height: 24px;
}
.group_info_left_history_box .history_box_date{
  color: #20815E;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 16px;
}
.group_info_left_history_box .history_box_text{
  color: #303634;
  font-size: 14px;
  line-height: 22px;
}
.group_info_left_history_full a{
  color: #20815E;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
.group_info_left_history_full i{
  color: #20815E;
  font-size: 12px;
}
</style>
