<template>
  <div id="app">
    <div v-if="!$store.state.isReady" style="height: 100%;">
      <fade-loader :loading="true" color="#FFCE06"></fade-loader>
    </div>
    <div style="height: 100%" v-else>



      <router-view/>

      <footer class="footer">

      </footer>
    </div>
  </div>
  <!--<div id="app">-->
    <!--<ChangeLanguage></ChangeLanguage>-->
    <!--<router-view/>-->
  <!--</div>-->
</template>

<script>
import ChangeLanguage from '@/components/language/ChangeLanguage'
import FadeLoader from 'vue-spinner/src/FadeLoader'

export default {
  name: 'App',
  components: {
    ChangeLanguage, FadeLoader
  },

}
</script>

<style lang="scss">
@import '../node_modules/bootstrap/scss/bootstrap.scss';
  html, body {
      height: 100%;
    }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%;
  }
  .v-spinner {
    position: absolute;
    top: 49%;
    left: 49%;
  }
</style>
