<template>
  <div>
    <div class="navbarHistory">
      <div class="container h-100 navbarHistoryCont">
      <span class="navbarHistoryMain" href="/settings">
        {{mainHistoryName}}
      </span>
        <a v-for="item of childHistoryName" :href="'#/'+item.redirect_path" :class="[{'is-active': (CurrentSection.indexOf(item.path) > -1)},'navbarHistoryChild']" >
          {{item.name}}
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HeaderNavigate',
    props: [ 'mainHistoryName', 'childHistoryName' ],
    data () {
      return {

      }
    },
    components: {

    },
    computed:{
      CurrentSection () {
        if(this.$route.path != "" && this.$route.path != undefined && this.$route.path.indexOf('/') > -1)
        {
          return this.$route.path.split('/');
        }
        return this.$route.path;
      },
    },

  }
</script>

<style>

</style>
