<template>
<div class="">
  <nav>
    <div class="nav-left">
      <a href="#">
        <img :src="require('@/assets/logo.svg')" alt="">
      </a>
    </div>
    <div class="nav-center">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Reports</a></li>
        <li :class="[{'is-active': (CurrentSection.indexOf('affilates') > -1)}]"><a href="#/affilates">Affilates</a></li>
        <li><a href="#">Payments</a></li>
        <li><a href="#">Players</a></li>
        <li><a href="#">Team</a></li>
        <li :class="[{'is-active': (CurrentSection.indexOf('settings') > -1)},'settingsStyle']"><a href="#/settings">
          <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Settings</title>
            <desc>Created with sketchtool.</desc>
            <defs></defs>
            <g  stroke="none" stroke-width="1"  fill="red" fill-rule="evenodd">
              <g id="UI-Admin" transform="translate(-36.000000, -174.000000)" fill="#4C525C" fill-rule="nonzero">
                <path  d="M60,187.616 L60,184.384 C58.349,183.797 57.306,183.632 56.781,182.365 L56.781,182.364 C56.254,181.093 56.881,180.23 57.628,178.657 L55.343,176.372 C53.782,177.114 52.91,177.747 51.636,177.219 L51.635,177.219 C50.366,176.693 50.2,175.643 49.616,174 L46.384,174 C45.802,175.635 45.635,176.692 44.365,177.219 L44.364,177.219 C43.093,177.747 42.232,177.121 40.657,176.372 L38.372,178.657 C39.117,180.225 39.747,181.091 39.219,182.364 C38.692,183.635 37.635,183.802 36,184.384 L36,187.616 C37.632,188.196 38.692,188.365 39.219,189.635 C39.749,190.917 39.105,191.801 38.372,193.342 L40.657,195.628 C42.219,194.885 43.091,194.253 44.364,194.781 L44.365,194.781 C45.635,195.307 45.801,196.36 46.384,198 L49.616,198 C50.198,196.364 50.366,195.31 51.643,194.778 L51.644,194.778 C52.906,194.254 53.764,194.879 55.342,195.629 L57.627,193.343 C56.883,191.78 56.252,190.91 56.779,189.637 C57.306,188.366 58.367,188.197 60,187.616 Z M48,190 C45.791,190 44,188.209 44,186 C44,183.791 45.791,182 48,182 C50.209,182 52,183.791 52,186 C52,188.209 50.209,190 48,190 Z" id="settings-icon"></path>
              </g>
            </g>
          </svg>
        </a></li>
      </ul>
    </div>
    <div class="nav-right">
      <div class="nav-right-account">
        <div :class="[{'isActiveDropdown': isActiveDropdown},'dropdown-menu']" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="" @click.prevent="showModalChangePassword">Change Password</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <a @click.prevent="isActiveDropdown = !isActiveDropdown">
          <img :src="require('@/assets/arrow-down-black.svg')" alt="">
          <span>{{adminName}}</span>
          <span class="userIcon">
                <img :src="require('@/assets/user-icon.svg')" alt="">
              </span>
        </a>
      </div>
      <ModalChangePassword ref="chagngePasswordModal"></ModalChangePassword>
    </div>
  </nav>

</div>
</template>

<script>
  import ModalChangePassword from './ModalHeader';
  import * as types from '@/stores/modules/admin/types';
  import * as mutation_types from '@/stores/modules/admin/mutation_types';
  export default {
    name: 'Header',
    data() {
      return {
        isActiveDropdown: false,

      }
    },
    components: {
      ModalChangePassword
    },
    mounted () {

      this.storeMutationSubscriber =
        this.$store.subscribe (( mutation, state ) => {
          switch ( mutation.type ) {
            case "admin/" + mutation_types.M_PROFILE_SUCCESS:
              break;

            case "admin/" + mutation_types.M_LOGIN_ASK_TOTP:
              this.$router.push ('/auth-two-factor-code');
              break;

          }

        });
    },

    computed:{
      adminName () {
        if(this.$store.state.admin.profile.name == undefined) {
          this.$store.dispatch ("admin/" + types.A_PROFILE);
        }
        return this.$store.state.admin.profile.name
      },
      CurrentSection () {
        if(this.$route.path != "" && this.$route.path != undefined && this.$route.path.indexOf('/') > -1)
        {
          return this.$route.path.split('/');
        }
        return this.$route.path;
      },
    },
    methods: {
      showModalChangePassword () {
        this.$refs.chagngePasswordModal.showModalChangePassword()
        this.closeDropdown();
      },
      closeDropdown () {
        this.isActiveDropdown = !this.isActiveDropdown
      }
    }

  }

</script>

<style>
  .nav-right-account .dropdown-menu {
    left: -100px;
    top: 98%;
  }
  .navbarHistory {
    background-color: #F7F7F7;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
  }
  .navbarHistoryCont {
    text-align: left;
    padding: 20px 25px 0px 25px;
  }
  .navbarHistoryMain {
    display: inline-block;
    color: #303634;
    font-size: 28px;
    line-height: 33px;
  }
  .navbarHistoryChild {
    margin-left: 50px;
    color: #303634;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    padding-bottom: 22px;
  }
  a.navbarHistoryChild {
    text-decoration: none;
  }
  a.navbarHistoryChild:hover {
    color: #303634;
    text-decoration: none;
  }
  a.navbarHistoryChild.is-active {
    font-weight: 600;
  }
  nav {
    text-align: left;
    padding:0 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .nav-left {
    padding-top: 20px;
    float: left;
  }
  .nav-center {
    float: left;
    overflow: hidden;
  }
  .nav-center ul {
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  .nav-center ul li {
    float: left;
    padding:18px 15px 19px 15px;
  }
  .nav-center ul li a{
    color: #3C3C3C;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 10px;
  }
  nav ul li.settingsStyle{
    margin-left: 45px;
    padding: 15px 25px 15px 25px;
    border-right: 1px solid #F1F1F1;
    border-left: 1px solid #F1F1F1;
  }
  .nav-center ul li:hover {
    border-bottom: 2px solid #FFCE06;
  }
  .nav-right {
    position: relative;
    /*overflow: hidden;*/
    float: right;
  }
  svg:hover path#settings-icon {
    fill: #FFCE06;
  }
  .is-active {
    border-bottom: 2px solid #FFCE06;
  }
  .is-active svg path#settings-icon {
    fill: #FFCE06;
  }
  .nav-right-account a{
    text-decoration: none;
    color: #303634;
    font-size: 13px;
  }
  .nav-right-account a span.userIcon{
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
  }
  .nav-right-account a span{
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
  }
  .nav-right-settings {
    float: left;
  }
  .nav-right-account {
    float: left;
    padding-top: 20px;
  }
  .isActiveDropdown {
    display: block!important;
  }

</style>
