<template>
  <div>
    <b-modal ref="passwordModalRef" centered :modal-class="myclass"
             hide-footer hide-header>
      <form @submit.prevent="validateBeforeSubmit" v-if="!isSuccessChange">
        <div class="headerChangePassword">
          <h4>Change Password</h4>
        </div>
        <div class="errorNotif" v-show="isShowNotification">
          {{error}}
        </div>
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input type="password" class="form-control" v-validate="'required'" name="currentPassword" data-vv-as="Current Password" id="currentPassword" v-model="currentPassword" placeholder="*******"
                 :class="{'input': true, 'errorClass': errors.has('currentPassword') }">
          <span v-show="errors.has('currentPassword')" class="help text-danger">{{ errors.first('currentPassword') }}</span>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" v-validate="'required|min:8'" id="newPassword" data-vv-as="New Password" name="newPassword" v-model="newPassword" placeholder="*******"
                 :class="{'input': true, 'errorClass': errors.has('newPassword') }">
          <span v-show="errors.has('newPassword')" class="help text-danger">{{ errors.first('newPassword') }}</span>
        </div>
        <b-btn class="mt-3" block @click="validateBeforeSubmit">SAVE ADDRESS</b-btn>
      </form>
      <div class="successChangeBox" v-if="isSuccessChange">
        <i class="far fa-check-circle"></i>
        Password have changed successfully!
      </div>
    </b-modal>
  </div>
</template>

<script>
  import { Modal } from 'bootstrap-vue/es/components';
  import * as types from '@/stores/modules/admin/types';
  import * as mutation_types from '@/stores/modules/admin/mutation_types';

  export default {
    name: 'ModalChangePassword',
    data() {
      return {
        search: '',
        myclass: ['modalCustomClass'],
        currentPassword:'',
        newPassword:'',
        isShowNotification: false,
        error: '',
        isSuccessChange: false,
      }
    },
    components: {
      Modal
    },

    mounted () {

      this.storeMutationSubscriber =
        this.$store.subscribe (( mutation, state ) => {
          switch ( mutation.type ) {
            case "admin/" + mutation_types.M_CHANGE_PASSWORD_SUCCESS:
              this.currentPassword = '';
              this.newPassword = '';
              this.isSuccessChange = true;
              setTimeout (() => this.hideModal(), 3000);
              break;

            case "admin/" + mutation_types.M_CHANGE_PASSWORD_FAIL:
              this.isShowNotification = true;
              this.error = "Something went wrong";
              break;

          }
          setTimeout (() => {this.isShowNotification = false; this.isSuccessChange = false}, 4000);

        });
    },

    beforeDestroy () {
      if ( this.storeMutationSubscriber != null ) {
        this.storeMutationSubscriber ();
        this.storeMutationSubscriber = null;
      }
    },

    methods: {
      showModalChangePassword () {
        this.$refs.passwordModalRef.show()
      },
      hideModal () {
        this.$refs.passwordModalRef.hide()
      },
      changePassword() {
        this.$store.dispatch ("admin/" + types.A_CHANGE_PASSWORD, {
          old_password: this.currentPassword,
          new_password: this.newPassword
        })
      },
      validateBeforeSubmit() {
        this.$validator.validateAll().then((result) => {
          if (result) {
            this.changePassword()
            return;
          }
          return
        });
      }
    }
  }

</script>

<style>
  .modal-header  .close{
    position: absolute!important;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    top: -100%!important;
    left: 45%!important;
    font-weight: 100;
    outline: none;
  }
  .modalCustomClass .modal-dialog-centered{
    max-width: 450px;
  }
  .form-group input {
    outline: none;
  }
  .form-group input.errorClass {
    border: none;
    border-bottom: 2px solid red;
    border-radius: 0!important;
  }
  .form-group input:focus {
    outline: none;
    box-shadow: none;
  }
  .modalCustomClass .modal-body button{
    border: none;
    background-color: #FFCE06;
    border-radius: 5px;
    padding: 13px 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  .modal-header {
    display: block!important;
    text-align: center;
  }
  .errorNotif{
    color: red;
    font-size: 13px;
    margin-bottom: 15px;
    text-align: center;
  }
  .modal-header {
    position: relative;
  }
  .successChangeBox i{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: 50px;
    color: #00a599;
  }
  .successChangeBox {
    text-align: center;
    font-size: 18px;
  }
  .headerChangePassword {
    text-align: center;
    padding: 10px 0 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
  }
</style>
