<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" v-show="isAvailableLeft"  @click="PreviousPage($event)"><a class="page-link" href="#">Previous</a></li>
      <li v-for="n in totalPages" :key="'pager_'+n" class="page-item">
        <a class="page-link" @click="SelectPage(n, $event)" :class="{'pagination-link' : true, 'is-current': currentPage == n}" :aria-label="'Goto page'+n">
          {{ n }}
        </a>
      </li>
      <li class="page-item" v-show="isAvailableRight"  @click="NextPage($event)"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</template>

<script>

  export default
  {
    props: {

      total: {
        type: Number,
        required: true,
      },

      countByPage: {
        type: Number,
        default: 10,
      },

      current: {
        type: Number,
        default: 1,
      },

      onSelectPage: Function,
    },

    data(){
      return {
        currentPage: this.current,
        startPosition: 0,
        endPosition: this.countByPage,
      };
    },

    computed: {
      isAvailableLeft(){

        if(this.totalPages == 0)
          return false;

        if(this.currentPage  == 1)
        {
          return false;
        }

        return true;
      },

      isAvailableRight()
      {
        if(this.totalPages == 0)
          return false;

        if(this.currentPage  == this.totalPages)
        {
          return false;
        }

        return true;
      },

      totalPages(){
        let pages = Math.round(this.total / this.countByPage);

        return pages;
      },
    },

    methods: {

      PreviousPage(event){

        if (event) event.preventDefault();

        if(this.currentPage - 1 < 1)
        {
          return;
        }

        this.currentPage--;

        if(this.onSelectPage != undefined) this.onSelectPage(this.currentPage);
      },

      NextPage(event)
      {
        if (event) event.preventDefault();

        if(this.currentPage + 1 > this.total)
        {
          return;
        }

        this.currentPage++;
        if(this.onSelectPage != undefined) this.onSelectPage(this.currentPage);
      },

      SelectPage(page, event)
      {
        console.log(this.$refs)
        if (event) event.preventDefault();

        this.currentPage = page;
        if(this.onSelectPage != undefined) this.onSelectPage(this.currentPage);
      },

      CalculatePositions(){
        let result = { start: 0, finish: this.countByPage - 1 };
        result.start = this.currentPage * this.countByPage - this.countByPage;
      },

    }
  }

</script>

<style>
  .page-link.pagination-link.is-current {
    color: red!important;
  }
</style>
